.item-btn {
    background-color: #D6D6D62E;
    border: none;
    padding: 5px 50px;
    border-radius: 20px;

}

.custom-btn {
    background-color: #5D8ED5;
    font-size: 15px;
}

.background {
    background-color: none;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    height: 100%;
}
.border_box{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 4px;
}

.image:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}
.item-adjust{
    position: relative;
    top:30px;
}